.university-slider{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*.dropdown:hover .dropdown-menu{*/
/*    display: block !important;*/
/*    background-color:white !important;*/
/*}*/
/*.dropdown-menu .dropdown-item:hover {*/
/*    background-color: deepskyblue !important;*/
/*}*/