<head th:fragment="head" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8"/>
    <title>Multipurpose Dashboard - Responsive Multipurpose Admin Templates | Vendroid</title>
    <meta name="keywords" content="HTML5 Template, CSS3, All Purpose Admin Template, "/>
    <meta name="description" content="Responsive Admin Template for multipurpose use">
    <meta name="author" content="Venmond">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/admin/img/ico/apple-touch-icon-144-precomposed.html}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/admin/img/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/admin/img/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/admin/img/ico/apple-touch-icon-57-precomposed.png}">
    <link rel="shortcut icon" th:href="@{/admin/img/ico/favicon.png}">

    <link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/admin/css/font-awesome.min.css}" type="text/css">
    <!--[if IE 7]>
    <link rel="stylesheet" th:href="@{/admin/css/font-awesome-ie7.min.css}" type="text/css"><![endif]-->
    <link rel="stylesheet" th:href="@{/admin/css/font-entypo.css}" type="text/css">

    <!-- Fonts CSS -->
    <link rel="stylesheet" th:href="@{/admin/css/fonts.css}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" th:href="@{/admin/plugins/jquery-ui/jquery-ui.custom.min.css}" type="text/css">
    <link th:href="@{/admin/plugins/isotope/css/isotope.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/plugins/pnotify/css/jquery.pnotify.css}" media="screen" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css}" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link th:href="@{/admin/css/theme.min.css}" rel="stylesheet" type="text/css">
    <!--[if IE]>
    <link th:href="@{/admin/css/ie.css}" rel="stylesheet"> <![endif]-->
    <link th:href="@{/admin/css/chrome.css}" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->

    <link th:href="@{/admin/css/theme-responsive.min.css}" rel="stylesheet" type="text/css">

    <link th:href="@{/admin/custom/custom.css}" rel="stylesheet" type="text/css">
    <th:block layout:fragment="heading"></th:block>


    <!-- Head SCRIPTS -->
    <script type="text/javascript" th:src="@{/admin/js/modernizr.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/mobile-detect.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/mobile-detect-modernizr.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/admin/js/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/respond.min.js}"></script>
    <![endif]-->

</head>